#contact-modal {
  display: none;
  max-width: 500px;
  z-index: 10;
  filter: drop-shadow(0em 0.2em 0.4em rgba(0, 0, 0, 0.4));
}

#contact-modal-lightbox {
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.95);
}

#contact-modal header {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  align-items: start;
}

#contact-modal header h1 {
  margin: 0;
}

.contact-modal__close-btn {
  position: absolute;
  top: -11px;
  right: 0;
  cursor: pointer;
  align-self: baseline;
  padding: 0;
  font-size: 3em;
  color: white;
}

#contact-modal textarea {
  width: 100%;
  height: 7em;
  margin-bottom: 2em;
  border-radius: 5px;
  resize: none;
  font-size: 1.2rem;
}

#contact-submit-btn {
  padding: 0.85em 1.8em;
  border: none;
  border-radius: 5px;
  background-color: #911c1c;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

#contact-submit-btn:hover {
  background-color: #fff;
  color: #911c1c;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #db8876;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.2em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  margin-bottom: 1em;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}
