.contact-section {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  justify-content: space-between;
  padding: 2em 0;
  background-color: #fafafa;
}

.contact-section div {
  display: grid;
  width: 150px;
  flex: auto;
  place-content: center;
}

.contact-section h2 {
  margin: 0;
  margin-bottom: 0.7rem;
  font-size: 3rem;
}

.contact-section h3 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.contact-section h4 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #525252;
}

.contact-section button {
  padding: 1.3em 2em;
  background-color: #911c1c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-section button:hover {
  background-color: #db8876;
  color: #000;
}

.contact-section img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#media-section {
  max-width: 1400px;
  margin: 3em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
}

#media-section article {
  width: 350px;
}


#media-section .user-media {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 0;
  cursor: pointer;
}

#media-section .user-media__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#media-section .user-media__description * {
  padding: 0.8rem 0;
  font-size: 1.4em;
}

#media-section .user-media__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
} 

#media-section .user-media__likes {
  padding: 0 1rem;
}

.modal-gallery {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255,255,0.7);
}

.close-btn {
  position: fixed;
  top: 10px;
  right: 30px;
  cursor: pointer;
  font-size: 3.5rem;
  color: #555;
}

.fa-solid {
  font-size: 3em;
  color: #555;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-chevron-left {
  left: 2em;
}

.fa-chevron-right {
  right: 2em;
}

.modal-gallery__media {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.modal-gallery__media img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}