@import url("photographer.css");

body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

header {
  margin: 2em auto;
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
}

.logo {
  height: 50px;
}

#main {
  margin: 0 1em;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 4em auto;
  max-width: 1200px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a {
  text-decoration: none;
  text-align: center;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.photographer_section h2 {
  color: #d3573c;
}

.photographer_section h3 {
  color: #901c1c;
  font-weight: lighter;
}

.photographer_section article h2 {
  margin-bottom: 0;
  font-size: 36px;
}

.photographer_section article .description {
  padding-top: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographer_section article h3,
h4,
h5 {
  margin: 0;
  line-height: 1.6;
  font-weight: lighter;
}

.photographer_section article h3 {
  font-size: 1rem;
  color: #901c1c;
}

.photographer_section article h4,
h5 {
  font-size: 0.7rem;
}

.photographer_section article h5 {
  color: #757575;
}


